//custom-buttons.less
.button-container {
	.container;
	margin-bottom: 40px;
}

.button-wrapper {
	.make-row();
}

.button-col {
	.make-xs-column(6);
	.make-md-column(6);

	.button-pr-gen {
		width: 100%;
		margin: 10px 0;
	}

	.profile-button {
		.btn;
		.btn-lg;
		.btn-success;
		.button-pr-gen;
	}

	.team-button {
		.btn;
		.btn-lg;
		.btn-success;
		.button-pr-gen;
	}

	.new-event-button {
		.btn;
		.btn-lg;
		.btn-success;
		.button-pr-gen;
	}

	.past-event-button {
		.btn;
		.btn-lg;
		.btn-success;
		.button-pr-gen;
	}
}